<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.gyulbbe.speechLearning.mapper.SpeechLearningMapper">

    <!-- 말투 학습 등록 -->
    <insert id="insertSpeechLearning" parameterType="insertSpeechLearningDto">
        INSERT INTO speech_style_learning (
            user_id,
            text
        ) VALUES (
            #{userId},
            #{text}
        )
    </insert>

    <!-- 모든 말투 학습 조회 -->
    <select id="findAllSpeechLearning" resultType="SpeechLearningDto">
        SELECT
            id as speechLearningId,
            user_id as userId,
            text,
            created_at as createdAt
        FROM speech_style_learning
        ORDER BY id
    </select>

</mapper>
